@keyframes blink-warning {
  70% {
    color: white;
  }
  to {
    color: white;
    background-color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }
  to {
    color: white;
    background-color: red;
  }
}

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

#waybar {
  background: rgba(26,26,26,0.35);
  text-shadow: 1px 1px 0px rgba(0,0,0,0.8);
  box-shadow: inset 0px -10px 8px -20px #000000;
  color: white;
}

#window {
  font-weight: bold;
  border-bottom: 2px solid rgba(255,255,255,0.7);
  border-radius: 1px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

window#waybar.empty #window {
  border-color: transparent;
  color: transparent;
}

#battery,
#clock,
#custom-keyboard-layout,
#mode,
#network,
#idle_inhibitor,
#pulseaudio {
  border-bottom: 2px solid rgba(255,255,255,0.7);
  border-radius: 1px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 5px;
}

#idle_inhibitor {
    font-family: InconsolataLGC Nerd Font Mono;
    font-size: 18px;
}

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#network.disconnected {
  color: orange;
}

#workspaces button {
  padding-left: 10px;
  padding-right: 10px;
  color: rgba(255,255,255,0.7);
  border-bottom: 2px solid transparent;
  border-radius: 1px;
  padding-top: 2px;
}

#workspaces button:hover {
  background: transparent;
  box-shadow: inherit;
  text-shadow: inherit;
  border-color: rgba(255,255,255,0.7);
}

#workspaces button.focused {
  color: white;
  border-color: rgba(255,255,255,0.7);
}

#workspaces button.urgent {
  border-color: #c9545d;
}
