@keyframes blink-warning {
    70% {
        color: white;
    }
    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }
    to {
        color: white;
        background-color: red;
    }
}

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#waybar {
    background: rgba(26,26,26,0.4);
    color: white;
    font-family: InconsolataLGC Nerd Font Mono Medium;
    font-size: 13px;
}

#window {
    font-weight: bold;
    border-bottom: 2px solid rgba(255,255,255,0.8);
    border-radius: 1px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

window#waybar.empty #window,
window#waybar.solo #window {
    border-color: transparent;
    color: transparent;
}


#battery,
#clock,
#custom-keyboard-layout,
#mode,
#network,
#idle_inhibitor,
#pulseaudio {
    border-bottom: 2px solid rgba(255,255,255,0.8);
    border-radius: 1px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 3px;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    padding-bottom: 2px;
}

#network.disconnected {
    color: orange;
}

#workspaces button {
    background: rgba(26,26,26,0.4);
    border-bottom: 2px solid rgba(100,100,100,0.8);
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #888888;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: white;
    background-color: #285577;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}
